
/* . is used for class */
.myStyle {
    background-color: #c9c2e3;
    border: 1px solid #0000ff;
    height: 50px;
    width: 400px;
}

/* # is used for id */
#myH1 {
        color: #ff9999;
        font-size: 23px;
}

button {
    color: #0000ff;
    font-size: 13px;
}

.banner {
    height: 75px;
    width: 600px;
    background-color: #dddddd;
} 

.shadedDiv {
    padding: 30px !important;
    border: 1px solid #333;
    background-color: #dddddd;
} 
